<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>管理者登録</title>
</head>
<body>
<h1>管理者登録</h1>
<p>これはサインアップページです。</p>
<p th:if="${error}" th:text="${error}" style="color:red;"></p>
<form th:action="@{/admin/signup}" method="post" th:object="${adminForm}">
    <input type="text" th:field="*{lastName}" placeholder="姓"><br>
    <input type="text" th:field="*{firstName}" placeholder="名"><br>
    <input type="email" th:field="*{email}" placeholder="メールアドレス"><br>
    <input type="password" th:field="*{password}" placeholder="パスワード"><br>
    <button type="submit">登録</button>
</form>
</body>
</html>